.navbarCSS {
  padding: 0 100px 75px 100px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
  width: 100vw;

}


.nab {
  margin-left: 300px;
}

.navItemCSS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.custom-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


@media only screen and (max-width: 600px) {
  .navbarCSS {
    padding: 0px 0px !important;
  }

  .navTitle {
    font-size: 16px !important;
  }

}

/* MenuComponent.css */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* Make it circular */
  cursor: pointer;
  /* Indicates it's clickable */
}




.pfp {
  display: flexbox;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* Indicate clickable behavior */
  margin: 0.5rem 3rem;
  /* Optional padding for content */
  transition: all 0.3s ease-in-out;
}


.pfp:hover {
  box-shadow: 0 2px 5px rgba(232, 217, 217, 0.15);
  transform: scale(1.1);
  border-color: #51504f;
}